<div class="col-lg-9">
  <div  ng-model="selectedFile.text"
        ui-ace="{
          require: ['js/ace/'],
          advanced: {

            tabSize: 2,
          },
          useWrapMode : true,
          showGutter: false,
          theme:'terminal',
          mode: 'text',
          onLoad: aceLoaded,
          }">
  </div>
</div>
<div class="col-lg-3">
  <div class="input-group">
    <span class="input-group-addon" for="test_">Filename </span>
    <select class="form-control" 
            ng-options="opt.name for opt in templateFiles track by opt.name"
            ng-model="selectedFile" id="test_"
            ng-change="updateEditor()">
      
    </select>
  </div>
  
  <file-to-load color="'warning'" show-update="showContent"></file-to-load>
  
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="addNewFile(filenameNew)">
        Add new File
      </button>
    </span>
    <input type="text" class="form-control" ng-model="filenameNew">
  </div>
  <hr>

  <ace-opt-list editor="editor" ace-opts="modeOpts"></ace-opt-list>
  <ace-opt-list editor="editor" ace-opts="themeOpts"></ace-opt-list>
  <ace-opt-list editor="editor" ace-opts="fontOpts"></ace-opt-list>


</div>
